<%- include('../blocks/top') %>
<header>
	<%- include('../blocks/nav_admin') %>
</header>
<div class="content">
	<h4><%= data %> <%= title %>.</h4>
	<a href="/admin" class="btn">Back</a>
</div>
<%- include('../blocks/bottom') %>